@import '../../../styles/settings.scss';

.sort-list {
    width: 85%;
    border-bottom: 1px solid $color-text-light;
    margin-top: 10%;

    .sort-list__name {
        color: $color-text;
        
    }

    .sort-list__options {
        list-style-type: none;
        padding-left: 0px;
        cursor: pointer;

        .sort-list__option {
            &:hover {
                color: $color-text-candy;
            }

            &.active {
                color: $color-text-candy;
            }
        }
    }
}

@media (max-width: 768px) {
    .sort-list {
        .sort-list__options {
            .sort-list__option {
                &.active {
                    color: #fff;
                }
            }
        }
    }
 }
