.home {
    width: 100%;
    display: flex;
    margin-top: 5%;
    
    .sidebar {
        width: 30vw;
    }
    .products {
        width: 70vw;
    }
}

@media (max-width: 768px) { 
    .home {
        .sidebar {
            position: absolute;
            width: 100%;
            background-color: rgba(255,255,255, 0.5);

            .open-icon {
                display: none;
            }
        }
    
        .products {
            width: 100%;
        }
    }
}