@import '../../../styles/settings.scss';

.container-fluid {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: $base-size $base-size * 2;
}

@media (max-width: 768px) {
  .container-fluid { 
    margin-top: 50px;  
  }
}
