@import '../../../styles/settings.scss';

.products {
    display: flex;
    position: relative;
    padding: $base-size;
    justify-content: center;
    flex-wrap: wrap;
    min-height: 1100px;
    align-content: flex-start;

    .pagination {
        position: absolute;
        bottom: -49px;
    }
}