.main-menu {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;

    li {
        margin: 0 14px;
        display: flex;

        >a {
          display: flex;
          align-items: center;
        }
    }

    .cart {
      font-size: 1.7em;
    }
}