@import '../../../styles/settings.scss';

.button {
    color: #fff;
    border: none;
    padding: 8px 30px;
    font-size: 0.9em;
    cursor: pointer;
    outline: none;

    &--primary {
        background-color: $color-text-candy;
    }

    &:hover {
        background-color: $color-text-candy-light;
    }    
}