.button {
    color: #fff;
    background-color: #000;
    border: none;
    padding: 8px 30px;
    font-size: 0.9em;
    cursor: pointer;
    outline: none;

    &:hover {
        background-color: rgb(71, 64, 64);
    }    
}