@import '../../../styles/settings.scss';

.dashboard {
    background-color: #fff;
    height: 100vh;
    max-width: 100vw;
    position: relative;

    .sidebar {
        height: 90vh;
        width: 20%;
        position: absolute;

        &__hamburger {
            left: 15px;
        }

        .filter-icon {
            display: none;
        }
    }

    .navbar {
        height: 60px;
        width: 100%;
        background-color: #ee5253;
        display: flex;
        justify-content: flex-end;
        padding: 0 20px;

        .logout-icon {
            color: #fff;
            cursor: pointer;
        }

        .navbar__hamburger {
            display: none;
        }
    }

    .main-menu {
        margin-top: 15%;

        .menu-option {
            display: flex;
            align-items: center;
            padding: 15px 0;
    
            >svg {
                margin-right: 10px;
                font-size: 1.5em;
            }
        }
    }
    
    &__content {
        padding: 25px;
        width: 80%;
        position: relative;
        left: 20%;
        height: 90vh;
        z-index: 1;
     
    }
}

@media (max-width: 768px) { 
    .dashboard {
        .navbar {
            position: fixed;
            top: 0;
            z-index: 6;
        }

        .main-menu {
           margin-top: 0;

           >li {
                >a {
                    color: #fff;
                }   
            }
        }

        .sidebar {
            width: 0;
        }
        
        &__content {
            width: 100%;
            margin-top: 55px;
            left: 0;
        }
    }    
}

@media (max-width: 768px) { 
    .dashboard {
        &__content {
            padding: 25px 5px;
        }
        .new-product {
            .product-form {
                flex-direction: column;

                &__wrapper {
                    width: 100%;
                    margin: 0;
                }
            }
        }
    }
}
