@import '../../../styles/settings.scss';

.shop-cart {
    &__summary {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        padding: $base-size;
        margin-top: 5%;
    }
}