@import '../../../styles/settings.scss';

.shop-cart {
    &__summary {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        padding: $base-size;
        margin-top: 5%;
    }

   .button {
       display: flex;
       align-items: center;
       
        >svg {
            margin-right: 10px;
        }
    }

    &__alert-wrapper {
        margin-top: 5%;
        width: 100%;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;

        .alert {
            width: 100%;
        }
    }
}